
<div class="layout layout-sm-column">
  {{paper-input class="flex-30" label="Name" placeholder="Enter name" value=name onChange=(action (mut name))}}
  {{paper-input class="flex-30" label="E-mail" type="email" value=email onChange=(action (mut email))}}
  {{paper-input class="flex-40" label="Password" type="password" value=password onChange=(action (mut password))}}
</div>
<div class="layout layout-sm-column">
  {{paper-input class="flex" label="Submission date" type="date" value=date onChange=(action (mut date))}}
  {{paper-input class="flex" label="Company (disabled)" type="text" value="Google" disabled=true onChange=(action (mut foo))}}
</div>

{{paper-input textarea=true block=true label="Biography" maxlength=150 passThru=(hash rows=5 maxRows=5)
  value=biography onChange=(action (mut biography))}}